<div class="image-wrapper">
  <div class="image">
    <a [routerLink]="['/book', data.id]" class="more">
      <img src="https://dummyimage.com/232x270/fff/000.png" alt="">
    </a>
  </div>
</div>
<div class="rate flex-center" *ngIf="false">
  <div class="star filled">
    <i class="fa fa-star" aria-hidden="true"></i>
  </div>
  <div class="star filled">
    <i class="fa fa-star" aria-hidden="true"></i>
  </div>
  <div class="star half-filled">
    <i class="fa fa-star-half-o" aria-hidden="true"></i>
  </div>
  <div class="star">
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
  <div class="star">
    <i class="fa fa-star-o" aria-hidden="true"></i>
  </div>
</div>

<div class="title">
  <h3 align="center">
    <a href="" class="more">
      {{ data.title }}
    </a>
  </h3>

  <p align="center">
    <a href="">

    </a>
  </p>

  <p align="center">
    <a href="">

    </a>
  </p>

  <p align="center">
    <a href="">

    </a>
  </p>
</div>
