<section class="row">
  <div class="col-md-offset-3 col-md-5 alert alert-success"
       *ngIf="message == 'OrderCreated'">
    Заявка успешно отправлена
  </div>
</section>
<section class="row">
  <section class="col-md-offset-3 col-md-5" *ngIf="book">

    <div class="clear"></div>
    <h1>
      {{ book.title }}
    </h1>

    <img src="https://dummyimage.com/432x470/fff/000.png" alt="">

    <p>
    </p>

    <p class="desc">
      {{ book.desc }}
    </p>

    <button class="btn btn-default" [routerLink]="['/book', book.id, 'order']">
      Запросить книгу
    </button>
  </section>
</section>
