<header>
  <div class="col-md-2 logo flex-center">
    <a routerLink="/">
      <img src="/images/logo.png" alt="">
    </a>
  </div>
  <app-search class="col-md-6"></app-search>
  <div class="col-md-4 button flex-center" style="margin-top: 11px;">
    <a [routerLink]="['/my/postbook']" class="std-btn">Разместить книгу</a>
    <a [routerLink]="['/login']" class="std-btn" *ngIf="!isLoggedIn()">
      Войти
    </a>
    <a [routerLink]="['/logout']" class="std-btn" (click)="logout()" *ngIf="isLoggedIn()">
      Выйти
    </a>
  </div>

  <div class="clear"></div>

</header>

<app-navbar [links]="nav"></app-navbar>
<section>
  <router-outlet></router-outlet>
</section>
